*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
Session.vim
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc

.vim/bundle/
.vim/.netrwhist

.emacs.d/auto-save-list
.luarocks/.luarocks
.luarocks/lib
.luarocks/share

# prezto
.zlogin
.zlogout
.zprofile
.zshenv

.vim/*
!.vim/cheatsheet.md
!.vim/ftplugin

.mjolnir/.mjolnir
