[include]
	path = .gitconfig.local
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	a = add
	aa = add -A
	co = checkout
	st = status
	sb = show-branch
	ft = fetch
	br = branch
	sh = show
	cm = commit
	cmm = commit -m
	mg = merge
	df = diff -C
	dfs = diff -C --staged
	dfst = diff -C --stat
	lg = log --graph --all --decorate --oneline
	rb = rebase
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
[pager]
    log  = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[ghq]
  root = ~/src
