[include]
	path = .gitconfig.local
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = $HOME/.gitignore_global
	quotepath = false
	precomposeunicode = true
  ignorecase = false
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[push]
	default = simple
[rebase]
	autosquash = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	a = add
	aa = add -A
	co = checkout
	st = status --short --branch
	sb = show-branch
	ft = fetch
	br = branch
	sh = show
	cm = commit
	cmm = commit -m
	cma = commit -a --amend
	cmf = commit --fixup
	mg = merge
	df = diff -C
	dff = diff -C --name-only
	dfs = diff -C --staged
	dfst = diff -C --stat
	rb = rebase
  l = log --pretty=format:'%C(green)%h %C(white)%<(20,trunc)%an %<(80,trunc)%s'
  ll = log --pretty=format:'%C(red reverse)%d%Creset%C(white reverse) %h% Creset %C(green reverse) %an %Creset %C(cyan)%ar%Creset%n%C(white bold)%w(80)%s%Creset%n%n%w(80,2,2)%b' --graph --name-status
	lg = !git --no-pager log -10 --oneline --decorate
	lgl = !git log --oneline --decorate
	lgg = log --graph --all --decorate --oneline
	ps = push
	psu = push -u
	pso = push -u origin
	psf = push --force-with-lease
	pl = pull
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
[pager]
    log  = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[ghq]
  root = ~/src
[github]
	user = thara
[user]
  email = git@thara.jp
[commit]
	template = ~/.gitmessage.txt
	gpgsign = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[gpg]
	program = gpg2
[ghi]
	token = !security find-internet-password -a tomochikahara -s github.com -l 'ghi token' -w
[credential]
	helper = osxkeychain
