" 新しい行のインデントを現在行と同じにする
set autoindent

" 高度なインデント
set smartindent

" タブが対応する空白の数
set tabstop=2

" インデントでずれる幅
set shiftwidth=2

" タブキーでカーソルが動く幅
set softtabstop=2

" タブの代わりに空白を挿入
set expandtab

" 行頭ではshiftwidth分インデント挿入(それ以外ではtabstop分空白)
set smarttab

" ハイライトで検索
set hlsearch

" 大文字小文字を無視
set ignorecase

" インクリメンタル検索
set incsearch

" 大文字が入力されたら大文字小文字を区別する
set smartcase

" コマンドラインの行数
set cmdheight=2

" ステータス行を常に表示
set laststatus=2

" 不可侵文字を可視化
set list
set listchars=tab:>.,trail:_,extends:>,precedes:<

" 行番号を表示 (相対)
set number relativenumber

" 入力したコマンドを画面下に表示
set showcmd

" 長い行を @ にさせない, 印字不可能文字を16進数で表示
set display=lastline,uhex

" ヤンクなどで * レジスタにも書き込む
set clipboard+=unnamed

" 対応する括弧やブレースを表示
set showmatch matchtime=1
" 対応する括弧を強調表示
set showmatch

" Escの2回押しでハイライト消去
noremap <silent> <Esc><Esc> :nohlsearch<CR><Esc>

" 素早くコマンドモードに
noremap ; :
noremap : ;

" 検索結果マッチ時にカーソル位置を画面中央に
nnoremap n nzzzv
nnoremap N Nzzzv
nmap * *zz
nmap # #zz
nmap g* g*zz
nmap g# g#zz

" 一つ前に開いたファイルを開く
nnoremap <Space><Space> <C-^>

" 行末までヤンク
nnoremap Y y$

" 貼り付けたテキストを素早く選択する
noremap gV `[v`]

" コマンドラインウィンドウ暴発防止
map q: :q

" 保存して閉じる/保存せず閉じるの暴発防止
nnoremap ZZ <Nop>
nnoremap ZQ <Nop>
